
#Start{
    left: 10px;
    top: 10px;
    background-color: rgb(111, 192, 111);
}

#Stop{
    left:10px;
    top:30px;
    background-color: rgba(243, 43, 43, 0.854);
}

#ZurÃ¼cksetzen{
    left:10px;
    top: 10px;
    background-color: rgba(50, 50, 199, 0.644);
}

#Neustarten{
    background-color: rgba(250, 221, 30, 0.808);
}

#Runde{
    background-color: rgb(226, 147, 43);
}