body {
    background-color: rgb(145, 171, 208);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    max-width: 400px;
    margin: auto;
}

input {
    margin: 5px;
    border-radius: 3px;
}

#div1{
    background-color: white;
    height: auto;
    margin: 7px;
    border-radius: 5px;
}

#div2{
    background-color: white;
    height: 430px;
    margin: 7px;
    border-radius: 5px;
}

h1{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

h3{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-left: 15px;
}

select {
    width: 200px;
    height: 25px;
    margin: 5px;
    border-radius: 3px;
}

#new{
    margin: 5px;
    height: 30px;
    width: 90px;
}

#add{
    margin: 10px;
    height: 25px;
    width: 60px;
}

#comment{
    margin: 10px;
    height: 150px;
    width: 250px;
    border-radius: 15px;
}

fieldset{
    border: none;
    padding: none;
}
form{
    padding: none;
}

#edit, #trash{
    margin: 10px;
    height: 25px;
    width: 60px;
    float: right;
    display: inline;
}
p{
    margin: 5px;
    font-size: 14px;
}

#check{
    height: 15px;
    width: 15px;
    border-radius: 2px;
}